
.flip__card:hover .flip__card--conteiner{

    transform: rotateY(180deg);

}

.flip__card--front ,.flip__card--back{

    position: absolute;

    width: 100%;

    height: 100%;

    -webkit-backface-visibility: hidden;

    backface-visibility: hidden;

    border-radius: 16px;

}
/* Novedades.html */

.main__container--videos{

    height: 180px;

    width: 100%;

    padding: 2px 20px;

}

/* Medias Query */

@media (min-width: 500px) {

    /* Global */

    p{

        line-height: 1.3;

    }

    /* Clases Header */  
    /* index.html */

    .header--titulo{

        font-size: 30px;

    }

    .header--logo{

        width: 120px;

        height: 80px;

    }

    /* Clases Main */

    .main__container--parrafo{

        font-size: 13px;

    }

    .main__container__formulario--label{

        width: 250px;

        text-align: center;

        font-size: 15px;
    }

    .main__container__formulario--input{

        width: 370px;

    }

    .main__container{

        width: 430px;
        
    }

    .main__container--horarios{

        width: 400px;

        height: 35px;

        font-size: 13px;

    }

    .carousel--image{

        height: 280px;
    }

    /* Contactanos.html */

    /* clases Main */

    .main__container__formulario--comentario{

        width: 370px;

    }

    /* Novedades.html */

    .main__container--videos{

        padding: 15px 0;

    }

    .flip__card{

        width: 400px;

        height: 400px;

    }

    .flip__card--front img{

        width: 320px;

    }

    .flip__card--back img{

        width: 270px;

    }

}

@media (min-width: 600px) {

    /* Etiquetas p */

    p{

        line-height: 1.5;

    }

    /* Clases Header */
    
    /* index.html */

    .header--titulo{

        font-size: 35px;
    }

    .header--logo{

        width: 150px;

        height: 100px;
    }

    .header__mobile--icono{

        font-size: 60px;

    }

    /* Clases Main */

    .main__container__formulario--input{

        width: 450px;

    }

    .main__container__formulario--label{

        width: 300px;

    }

    .main__container--parrafo{

        font-size: 14px;

    }

    .main__container{

        width: 530px;
    }

    .main__container--horarios{

        width: 500px;

        font-size: 14px;

    }

    .main__container--subtitulo{

        font-size: 20px;
    }

    .carousel--image{

        height: 330px;
    }

    /* Contactanos.html */

    /* clases Main */

    .main__container__formulario--comentario{

        width: 450px;

    }

    /* Novedades.html */

    .main__container--videos{

        height: 260px;

        padding: 20px 0;
    
    }

    .flip__card{

        width: 500px;

        height: 500px;

    }

    .flip__card--front img{

        width: 420px;

    }

    .flip__card--back img{

        width: 370px;

    }

}

@media (min-width: 768px) {

    /* Etiquetas P */

    p{

        line-height: 1.8;

    }

    /* index.html */

    /* Clases Header */

    .header--logo{

        width: 170px;

        height: 110px;
    }

    .header--titulo{

        font-size: 40px;
    }

    /* Clases Main */

    .main__container__formulario--label{

        width: 500px;
    }

    .main__container__formulario--input{

        width: 550px;

    }

    .main__container__formulario--comentario{

        width: 550px;

    }

    .main__container--parrafo{

        font-size: 15px;
    }

    .main__container--subtitulo{

        font-size: 25px;

        line-height: 1.5;
    }

    .main__container{

        width: 698px;

    }

    .main__container--horarios{

        font-size: 15px;

        width: 668px;
    }

    /* Novedades.html */

    .main__container--videos{

        height: 350px;

        padding: 30px 0;
    
    }

    .carousel--image{

        height: 340px;

    }

    .conteiner__cards{

        grid-template-columns: repeat(2, 1fr);

        justify-items: center;

    }

    .flip__card{

        width: 300px;

        height: 300px;

    }

    .flip__card--front img{

        width: 200px;

    }

    .flip__card--back img{

        width: 150px;

    }

}

@media (min-width: 998px) {

    /* index.html */

    /* Clases Header */

    .header--titulo{

        font-size: 55px;

    }

    .header__desktop{

        display: flex;

    }

    .header__mobile--icono{

        display: none;

    }

    .header--logo{

        width: 260px;

        height: 150px;
    }

    /* index.html */

    /* Clases Main */

    .main__container__formulario--label{

        width: 700px;

        font-size: 14px;

    }

    .main__container__formulario--input{

        width: 650px;

    }

    .main__container__formulario--comentario{

        width: 650px;

    }

    .main__container{

        width: 928px;
    }

    .main__container--subtitulo{

        font-size: 30px;
    }

    .main__container--parrafo{

        font-size: 18px;

        line-height: 1.7;
    }

    .main__container--horarios{

        font-size: 18px;

        width: 700px;
    }

    .main__container--lista{

        padding-left: 7.5rem;
    }

    /* Novedades.html */

    .main__container--videos{

        height: 450px;

        padding: 35px 0;
    
    }

    .carousel--image{

        height: 400px;

    }

    .conteiner__cards{

        grid-template-columns: repeat(3, 1fr);

        justify-items: center;

    }

    .flip__card{

        width: 300px;

        height: 300px;

    }

    .flip__card--front img{

        width: 200px;

    }

    .flip__card--back img{

        width: 150px;

    }

}
