/* Selector de Etiqueta

 Para utilizarlo spñamente hay que poner el nombre de la etiqueta en HTML, el estilo que se le de a esa etiqueta se va a aplicar en todas las etiquetas que sean iguales de nuestro documento HTML.

*/

/* Selector por ID
   
   Para utilizarlo hay que escribir el simbolo " # " antes de nuestro ID ( Puede ser el que querramos) los estilos solamente se aplicaran a las etiquetas de nuestro HTML a la que le asignemos ese ID en especifico.

   Ejemplo:

        #Selector-ID{
        color:orange;
}*/

/*  Selector por Clase

    Es el selector que se usa mayormente, para poder utilizarlo antes debemos escribir el simbolo " . " y luego determinar un nombre para la clase.

    Ejemplo:

    .nombreclase{
     background-color: blue;
     }

*/


/* Reset */

*{
    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

/* Global */

/* Clase utilizada para darle el display : flex a las etiquetas section de todos los HTML */

.main{

    display: flex;

    justify-content: center;

}

/* Clase utilizada para el fondo de la pagina, se usa en todos los HTML */
  
.body--bg {

    /* background-color: rgb(35, 38, 35); 

    background-image: url("../asets/images/FondoTotalMark8.png");  */

    background-color: black;
  
    height: 100%;
  
    /* background-position: center;

    background-repeat: no-repeat; */

    background-size: cover;

}

body{

    height: 100%;

}

a {

    text-decoration: none;

}

ul {

    list-style: none;

}

p {

    line-height: 1.2;

}

/* FUENTES */

@font-face {

    font-family: "start";

    src: url(../asets/text/PressStart2P-Regular.ttf);

}

@font-face {

    font-family: "monserrat";

    src: url(../asets/text/Montserrat-Italic-VariableFont_wght.ttf);

}

/* HEADER */

.header--logo{

    border-radius: 20px;

    width: 80px;

    height: 60px;

}

.header{

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    justify-content: center;

    align-content: center;

    justify-items: center;

    align-items: center;

    /* background-color: #146C94; */

}

.header--self{

    justify-self: center;

}

.header--titulo{

    font-family: "start";

    font-weight: 100;

    font-size: 25px;

    color: #19A7CE;

    text-align: center;

}

.header__desktop{

    display: none;

    flex-flow: column nowrap;

    align-items: center;

}

.header__mobile--item{

    font-family: "start";

    color: #19A7CE;

    font-size: 10px;

    text-align: center;

    margin: 20px 0;

}

.header__mobile--icono{

    color: #19A7CE;

    font-size: 50px;

}

.header__desktop--a:hover{

    text-shadow: 2px 2px 1px #AFD3E2;
}

.header__desktop--a{

    color: #19A7CE;
}

.header__desktop--texto{

    font-family: "start";

    color: #19A7CE;

    padding-top: 20px;

    padding-bottom: 20px;

    text-align: center;

}

/* Clase de HR */

.body--hr{

    background-color: #19A7CE;

    margin: 10px 0;

    height: 5px;

    border: 1px solid;

    box-shadow: 1px 4px 8px #19a7ce98;

    opacity: 0.9;

}

/* MAIN */

.main__container{

    display: flex;

    flex-flow: column wrap;

    justify-content: center;

    width: 250px;

}

::placeholder{

    color: #19A7CE;

}

.main__container__formulario{

    display: flex;

    flex-flow: row wrap;

    justify-content: center;

    margin: 5px 0;

}

.main__container__formulario--label{

    text-align: center;

    padding-bottom: 10px;

    font-family: "monserrat";

    font-size: 12px;

    color: #19A7CE ;

}

.main__container__formulario--input{

    color: #077d9e;

    text-align: center;

    height: 25px;

    width: 175px;

    background: transparent;

    border-radius: 5px solid;

    border-color: #19A7CE;

    border-radius: 15px;

    outline: none;

    margin: 10px 0;

}

.main__container__formulario--input:hover{

    box-shadow: 0px 0px 60px 15px rgba(7,125,158,0.8);

}

.main__container__formulario--input:focus{

    box-shadow: 0px 0px 60px 15px rgba(7,125,158,0.8);

}

.main__container--parrafo{

    margin: 15px 0;

    text-align: center;

    color: #19A7CE ;

    font-family: "monserrat";

    font-size: 12px;

}

.main__container--subtitulo{

    font-family: "start";

    font-size: 15px;

    color: #19A7CE;

    text-align: center;

    margin: 20px 0px;
}

.main__container--lista{

    padding-left: 1rem;
    
}

.main__container--horarios{

    width: 215px;

    height: 30px;

    color: #19A7CE;

    font-family: "monserrat";

    background-color: #19a7ce65;

    text-align: center;

    padding: 5px 0;

    margin: 10px 0;

    font-size: 12px;

    border-radius: 10px;

}

.carousel--image{

    height: 160px;
} 

.conteiner__cards{

    display: grid;

    grid-gap: 1rem;

    justify-content: center;

    margin: 30px 0;

}

.flip__card{

    background-color: transparent;

    width: 220px;

    height: 220px;

    perspective: 1000px;

}

.flip__card--conteiner{

    position: relative;

    width: 100%;

    height: 100%;

    text-align: center;

    transition: transform 0.6ms;

    transform-style: preserve-3d;

}

.flip__card:hover .flip__card--conteiner{

    transform: rotateY(180deg);

}

.flip__card--front ,.flip__card--back{

    position: absolute;

    width: 100%;

    height: 100%;

    -webkit-backface-visibility: hidden;

    backface-visibility: hidden;

    border-radius: 16px;

}

.flip__card--front{

    background-image: linear-gradient(45deg, #0427c4, #388cdf);

}

.flip__card--front img{

    width: 140px;

    margin-top: 1rem;

}

.flip__card--back{

    background-image: linear-gradient(315deg, #0427c4, #19A7CE);

    color: white;

    transform: rotateY(180deg);

}

.flip__card--back img{

    width: 90px;

    margin-top: 1rem;

}

.flip__card--back h5{

    margin-bottom: 0.3rem;

}

.flip__card--back h1{

    margin: 0;

}

/* Footer */

.footer{

    height: 100%;

    width: 100%;

}

.footer--banner{

    object-fit: cover;

    height: 100%;

    width: 100%;

}

/* contacto.html */

/* Main */

.main__container__formulario--comentario{

    color: #077d9e;

    text-align: center;

    height: 180px;

    background: transparent;

    border-radius: 5px solid;

    border-color: #19A7CE;

    border-radius: 15px;

    outline: none;

    width: 210px;

}

.main__container__formulario--comentario:hover{

    box-shadow: 0px 0px 60px 15px rgba(7,125,158,0.8);

}

.main__container__formulario--comentario:focus{

    box-shadow: 0px 0px 60px 15px rgba(7,125,158,0.8);

}

.main__container__formulario--checkbox{

    width: 25px;

    height: 25px;

    accent-color: #19A7CE;

}

/* Novedades.html */

.main__container--videos{

    height: 180px;

    width: 100%;

    padding: 2px 20px;

}

/* Medias Query */

@media (min-width: 500px) {

    /* Global */

    p{

        line-height: 1.3;

    }

    /* Clases Header */  
    /* index.html */

    .header--titulo{

        font-size: 30px;

    }

    .header--logo{

        width: 120px;

        height: 80px;

    }

    /* Clases Main */

    .main__container--parrafo{

        font-size: 13px;

    }

    .main__container__formulario--label{

        width: 250px;

        text-align: center;

        font-size: 15px;
    }

    .main__container__formulario--input{

        width: 370px;

    }

    .main__container{

        width: 430px;
        
    }

    .main__container--horarios{

        width: 400px;

        height: 35px;

        font-size: 13px;

    }

    .carousel--image{

        height: 280px;
    }

    /* Contactanos.html */

    /* clases Main */

    .main__container__formulario--comentario{

        width: 370px;

    }

    /* Novedades.html */

    .main__container--videos{

        padding: 15px 0;

    }

    .flip__card{

        width: 400px;

        height: 400px;

    }

    .flip__card--front img{

        width: 320px;

    }

    .flip__card--back img{

        width: 270px;

    }

}

@media (min-width: 600px) {

    /* Etiquetas p */

    p{

        line-height: 1.5;

    }

    /* Clases Header */
    
    /* index.html */

    .header--titulo{

        font-size: 35px;
    }

    .header--logo{

        width: 150px;

        height: 100px;
    }

    .header__mobile--icono{

        font-size: 60px;

    }

    /* Clases Main */

    .main__container__formulario--input{

        width: 450px;

    }

    .main__container__formulario--label{

        width: 300px;

    }

    .main__container--parrafo{

        font-size: 14px;

    }

    .main__container{

        width: 530px;
    }

    .main__container--horarios{

        width: 500px;

        font-size: 14px;

    }

    .main__container--subtitulo{

        font-size: 20px;
    }

    .carousel--image{

        height: 330px;
    }

    /* Contactanos.html */

    /* clases Main */

    .main__container__formulario--comentario{

        width: 450px;

    }

    /* Novedades.html */

    .main__container--videos{

        height: 260px;

        padding: 20px 0;
    
    }

    .flip__card{

        width: 500px;

        height: 500px;

    }

    .flip__card--front img{

        width: 420px;

    }

    .flip__card--back img{

        width: 370px;

    }

}

@media (min-width: 768px) {

    /* Etiquetas P */

    p{

        line-height: 1.8;

    }

    /* index.html */

    /* Clases Header */

    .header--logo{

        width: 170px;

        height: 110px;
    }

    .header--titulo{

        font-size: 40px;
    }

    /* Clases Main */

    .main__container__formulario--label{

        width: 500px;
    }

    .main__container__formulario--input{

        width: 550px;

    }

    .main__container__formulario--comentario{

        width: 550px;

    }

    .main__container--parrafo{

        font-size: 15px;
    }

    .main__container--subtitulo{

        font-size: 25px;

        line-height: 1.5;
    }

    .main__container{

        width: 698px;

    }

    .main__container--horarios{

        font-size: 15px;

        width: 668px;
    }

    /* Novedades.html */

    .main__container--videos{

        height: 350px;

        padding: 30px 0;
    
    }

    .carousel--image{

        height: 340px;

    }

    .conteiner__cards{

        grid-template-columns: repeat(2, 1fr);

        justify-items: center;

    }

    .flip__card{

        width: 300px;

        height: 300px;

    }

    .flip__card--front img{

        width: 200px;

    }

    .flip__card--back img{

        width: 150px;

    }

}

@media (min-width: 998px) {

    /* index.html */

    /* Clases Header */

    .header--titulo{

        font-size: 55px;

    }

    .header__desktop{

        display: flex;

    }

    .header__mobile--icono{

        display: none;

    }

    .header--logo{

        width: 260px;

        height: 150px;
    }

    /* index.html */

    /* Clases Main */

    .main__container__formulario--label{

        width: 700px;

        font-size: 14px;

    }

    .main__container__formulario--input{

        width: 650px;

    }

    .main__container__formulario--comentario{

        width: 650px;

    }

    .main__container{

        width: 928px;
    }

    .main__container--subtitulo{

        font-size: 30px;
    }

    .main__container--parrafo{

        font-size: 18px;

        line-height: 1.7;
    }

    .main__container--horarios{

        font-size: 18px;

        width: 700px;
    }

    .main__container--lista{

        padding-left: 7.5rem;
    }

    /* Novedades.html */

    .main__container--videos{

        height: 450px;

        padding: 35px 0;
    
    }

    .carousel--image{

        height: 400px;

    }

    .conteiner__cards{

        grid-template-columns: repeat(3, 1fr);

        justify-items: center;

    }

    .flip__card{

        width: 300px;

        height: 300px;

    }

    .flip__card--front img{

        width: 200px;

    }

    .flip__card--back img{

        width: 150px;

    }

}
