@import "../utils/variables";

.footer{

    height: 100%;

    width: 100%;

    &--banner{

        object-fit: cover;
    
        height: 100%;
    
        width: 100%;
    
    }

    &--subtitulo{

        font-family: "monserrat";

        font-size: 15px;

        padding: 0 10px;

    }

    &__container{
        
        height: 100%;

        width: 100%;

        font-family: "monserrat";

        padding-top: 10px;

        background-color: gray;

        &--info{

            display: flex;

            flex-flow: column;

            &--texto{

                font-family: "start";

                font-size: 8px;
            
                padding-top: 10px;
            
                padding-bottom: 10px;
            
                text-align: center;

            }

            &--a{

                color: black;

                &:hover{

                    text-shadow: 2px 2px 1px white;

                }

            }

        }

        &--list{

            margin: 0;

            padding: 0;

        }

        &--rrss{

            display: flex;

            justify-content: space-evenly;

            // Mapa

            $social-icons: (

            facebook: #1877f2,

            instagram: #D43089,

            twitter: #1DA1F2,

            whatsapp: #25D366,

            telegram: #229ED9,

            youtube: #FF0000

            );

            // Bucle

            @each $social-name, $social-color in $social-icons{

                .#{$social-name} {

                    color: black;

                    font-size: 20px;

                    &:hover {

                        color: $social-color;

                    }

                }

            }

        }

        &--mdp{

            height: 100%;

            width: 100%;

        }

    }

}

@media (min-width: $bpS){

    .footer__container{
    
        &--rrss{

            padding: 15px 0;

            i{

                font-size: 30px;

            }

        }

        &--mdp{

            width: 500px;

            height: 160px;

        }

    }


}

@media (min-width: $bpM) {

    .footer__container--info{

        flex-flow: row;

        justify-content: space-around;

    }

    .footer__container--info--texto{

        font-size: 12px;

    }

}