.main {
  display: flex;
  justify-content: center;
}
.main__container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 250px;
}
.main__container--parrafo {
  margin: 15px 0;
  text-align: center;
  color: #19A7CE;
  font-family: "monserrat";
  font-size: 12px;
}
.main__container--subtitulo {
  font-family: "start";
  font-size: 15px;
  color: #19A7CE;
  text-align: center;
  margin: 20px 0px;
}
.main__container--lista {
  padding-left: 1rem;
}
.main__container--horarios {
  width: 215px;
  height: 30px;
  color: #19A7CE;
  font-family: "monserrat";
  background-color: rgba(25, 167, 206, 0.3960784314);
  text-align: center;
  padding: 5px 0;
  margin: 10px 0;
  font-size: 12px;
  border-radius: 10px;
}
.main__container__formulario {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
}
.main__container__formulario--label {
  text-align: center;
  padding-bottom: 10px;
  font-family: "monserrat";
  font-size: 12px;
  color: #19A7CE;
}
.main__container__formulario--input {
  color: #077d9e;
  text-align: center;
  height: 25px;
  width: 175px;
  background: transparent;
  border-radius: 5px solid;
  border-color: #19A7CE;
  border-radius: 15px;
  outline: none;
  margin: 10px 0;
}
.main__container__formulario--input:hover {
  box-shadow: 0px 0px 60px 15px rgba(7, 125, 158, 0.8);
}
.main__container__formulario--input:focus {
  box-shadow: 0px 0px 60px 15px rgba(7, 125, 158, 0.8);
}
