@import "../utils/variables";

.main__container--videos{

    height: 180px;

    width: 100%;

    padding: 2px 20px;

}

@media (min-width: $bpS) {

    .main__container--videos{

        padding: 15px 0;

    }

}

@media (min-width: $bpM) {

    .main__container--videos{

        height: 260px;

        padding: 20px 0;
    
    }

}

@media (min-width: $bpL) {

    .main__container--videos{

        height: 350px;

        padding: 30px 0;
    
    }

}

@media (min-width: $bpXL) {

    .main__container--videos{

        height: 450px;

        padding: 35px 0;
    
    }

}